<a href="https://colab.research.google.com/github/C-3DevO/MORINGA_DS/blob/main/PHASE%200/PHASE_0_PROJECT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Project Summary:Premier League Team Stats Analysis (Opta Data)
This project explores Premier League Teams performance using Opta statistics and applies core Python, pandas, NumPy, Seaborn, and matplotlib skills learned in Moringa School Phase 0.

#Objective:
To extract meaningful insights from Premier League Teams data and  reinforce foundational skills in Python programming, data manipulation, and data visualization.

#Key Goals:
- Understand team performance trends  
- Explore relationships between stats like xG,	xGA	 and xGD towards team position
- Create per-90 and efficiency metrics for deeper evaluation  
- Visualize insights using professional data plots  
- Compare teams across key performance indicators (KPIs)

Tools & Libraries:
- Python 3
- Pandas and NumPy ---> Data manipulation and computation  
- matplotlib and Seaborn ---> Data visualization  
- EDA techniques ---> Statistical summaries and exploration

In [37]:
#importing important Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

Phase 1: Setup & Exploration

Goal: Understanding the structure of the data

In [38]:
#Loading the data
data_pl = pd.read_csv("/content/premier_league_stats_2024-25.csv")
data_pl.head() # returned the top 5 teams

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Attendance,Top Team Scorer,Goalkeeper,Notes
0,1,Liverpool,38,25,9,4,86,41,45,84,2.21,82.2,38.6,43.6,1.15,60324,Mohamed Salah - 29,Alisson,→ Champions League via league finish
1,2,Arsenal,38,20,14,4,69,34,35,74,1.95,59.9,34.4,25.5,0.67,60251,Kai Havertz - 9,David Raya,→ Champions League via league finish
2,3,Manchester City,38,21,8,9,72,44,28,71,1.87,68.1,47.7,20.4,0.54,52756,Erling Haaland - 22,Ederson,→ Champions League via league finish
3,4,Chelsea,38,20,9,9,64,43,21,69,1.82,67.8,47.3,20.5,0.54,39672,Cole Palmer - 15,Robert Sánchez,→ Champions League via league finish
4,5,Newcastle Utd,38,20,6,12,68,47,21,66,1.74,63.8,45.5,18.3,0.48,52187,Alexander Isak - 23,Nick Pope,→ Europa League via league finish

In [39]:
data_pl.tail() # returned the bottom 5 teams //Manchester not included

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Attendance,Top Team Scorer,Goalkeeper,Notes
15,16,Wolves,38,12,6,20,54,69,-15,42,1.11,43.7,58.1,-14.5,-0.38,30695,Matheus Cunha - 15,José Sá,NaN
16,17,Tottenham,38,11,5,22,64,65,-1,38,1.00,58.8,63.3,-4.5,-0.12,61127,Brennan Johnson - 11,Guglielmo Vicario,NaN
17,18,Leicester City,38,6,7,25,33,80,-47,25,0.66,32.6,71.9,-39.3,-1.03,31448,Jamie Vardy - 9,Mads Hermansen,Relegated
18,19,Ipswich Town,38,4,10,24,36,82,-46,22,0.58,34.4,72.7,-38.3,-1.01,29742,Liam Delap - 12,Arijanet Muric,Relegated
19,20,Southampton,38,2,6,30,26,86,-60,12,0.32,32.7,84.8,-52.1,-1.37,30882,Paul Onuachu - 4,Aaron Ramsdale,Relegated

In [40]:
# info about the data
data_pl.info() # the data contain 20 rows and 19 columns/ alternative we could use .shape to get this

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rk               20 non-null     int64
 1   Squad            20 non-null     object
 2   MP               20 non-null     int64
 3   W                20 non-null     int64
 4   D                20 non-null     int64
 5   L                20 non-null     int64
 6   GF               20 non-null     int64
 7   GA               20 non-null     int64
 8   GD               20 non-null     int64
 9   Pts              20 non-null     int64
 10  Pts/MP           20 non-null     float64
 11  xG               20 non-null     float64
 12  xGA              20 non-null     float64
 13  xGD              20 non-null     float64
 14  xGD/90           20 non-null     float64
 15  Attendance       20 non-null     int64
 16  Top Team Scorer  20 non-null     object
 17  Goalkeeper       20 non-null     object
 18  Notes            10 non-null     object
dtypes: float64(5), int64(10), object(4)
memory usage: 3.1+ KB

In [41]:
#checking shape
data_pl.shape

(20, 19)

In [42]:
data_pl.describe()
#Includes measures of central tendency for numerical values

,Rk,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Attendance
count,20.00000,20.0,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,2.000000e+01,20.000000,20.000000
mean,10.50000,38.0,14.350000,9.300000,14.350000,55.750000,55.750000,0.000000,52.350000,1.378500,53.905000,53.890000,1.065814e-15,0.001000,40475.550000
std,5.91608,0.0,6.002412,2.867238,6.960603,14.707231,14.421749,27.041878,18.576372,0.488578,13.037617,12.002978,2.329628e+01,0.613033,16886.824694
min,1.00000,38.0,2.000000,5.000000,4.000000,26.000000,34.000000,-60.000000,12.000000,0.320000,32.600000,34.400000,-5.210000e+01,-1.370000,11210.000000
25%,5.75000,38.0,11.000000,7.750000,9.750000,45.500000,45.500000,-11.250000,42.000000,1.110000,45.050000,47.275000,-6.550000e+00,-0.172500,29979.750000
50%,10.50000,38.0,15.000000,9.000000,12.000000,58.000000,52.500000,3.500000,55.000000,1.445000,57.400000,49.600000,2.700000e+00,0.070000,35118.500000
75%,15.25000,38.0,19.250000,10.250000,18.500000,66.000000,62.750000,14.250000,66.000000,1.740000,61.250000,58.500000,1.620000e+01,0.427500,54629.750000
max,20.00000,38.0,25.000000,15.000000,30.000000,86.000000,86.000000,45.000000,84.000000,2.210000,82.200000,84.800000,4.360000e+01,1.150000,73747.000000

2: Data cleaning:
We have 18 columns which do not have null values and the final column(notes) has null values.since it is not important we will replace the null with "No Notes"

In [43]:
data_pl.isnull().mean()*100
#only the column['notes'] has 50% of its values as null

Rk                  0.0
Squad               0.0
MP                  0.0
W                   0.0
D                   0.0
L                   0.0
GF                  0.0
GA                  0.0
GD                  0.0
Pts                 0.0
Pts/MP              0.0
xG                  0.0
xGA                 0.0
xGD                 0.0
xGD/90              0.0
Attendance          0.0
Top Team Scorer     0.0
Goalkeeper          0.0
Notes              50.0
dtype: float64

In [44]:
data_pl['Notes'] = data_pl['Notes'].fillna('No notes')
data_pl_cleaned = data_pl.copy()
data_pl_cleaned.isnull().mean()*100

Rk                 0.0
Squad              0.0
MP                 0.0
W                  0.0
D                  0.0
L                  0.0
GF                 0.0
GA                 0.0
GD                 0.0
Pts                0.0
Pts/MP             0.0
xG                 0.0
xGA                0.0
xGD                0.0
xGD/90             0.0
Attendance         0.0
Top Team Scorer    0.0
Goalkeeper         0.0
Notes              0.0
dtype: float64

In [45]:
#checking the data cleaned now
data_pl_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rk               20 non-null     int64
 1   Squad            20 non-null     object
 2   MP               20 non-null     int64
 3   W                20 non-null     int64
 4   D                20 non-null     int64
 5   L                20 non-null     int64
 6   GF               20 non-null     int64
 7   GA               20 non-null     int64
 8   GD               20 non-null     int64
 9   Pts              20 non-null     int64
 10  Pts/MP           20 non-null     float64
 11  xG               20 non-null     float64
 12  xGA              20 non-null     float64
 13  xGD              20 non-null     float64
 14  xGD/90           20 non-null     float64
 15  Attendance       20 non-null     int64
 16  Top Team Scorer  20 non-null     object
 17  Goalkeeper       20 non-null     object
 18  Notes            20 non-null     object
dtypes: float64(5), int64(10), object(4)
memory usage: 3.1+ KB

No null columns, The columns contain 4 strings(object data type), 5 float type and 10 integer type hence a total of 15 numerical data type.

In [47]:
#let us assign our cleaned data frame to df
df = data_pl_cleaned.copy()
df.columns

Index(['Rk', 'Squad', 'MP', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 'Pts/MP',
       'xG', 'xGA', 'xGD', 'xGD/90', 'Attendance', 'Top Team Scorer',
       'Goalkeeper', 'Notes'],
      dtype='object')

In [48]:
#checking for duplicates
df.duplicated().sum()

np.int64(0)

It means there are no duplicate rows in our DataFrame